@import url(./styles/reset.css);
@import url(./styles/variables.css);
/* common */
body {
  font-size: 16px;
}

/* contens */
h1 {
  color: var(--main-light-color);
  background: var(--main-dark-color);
<<<<<<< HEAD
}
=======
}
>>>>>>> b74b5dfac74adb8648f467f59abf9d3c70be3609
