$color: (
  light: #fff,
  dark: #000,
  background: #f0f0f0,
  accent: #dc143c,
  sub: #9f9f9f,
  ad: #1a76f5,
);

@font-face {
  font-family: "youtube";
  src: url("./fonts/AnyConv.com__KFOmCnqEu92Fr1Mu4mxPKTU1Kg.otf");
}
