@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,li {
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Noto Sans KR", serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  main{
    padding: 30px;
    background: #fff;
    box-shadow: 0 0  8px rgba($color: #000000, $alpha: 0.8);
    border-radius: 20px;
  }
  h1{
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 20px;
  }
  #profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    img{
      width: 150px;
      border-radius: 20px;
    }
    #desc {
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      p {
        font-size: 1.4rem;
        // &:first-child {
        //   display: none;
        // }
        // &:last-child {
        //   display: none;
        // }
        &.active {
          background: #ff0;
          color: #1e90ff;
        }
      }
    }
  }
}